################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoodenPuzzle/WoodenPuzzle/obj/Debug/WoodenPuzzle.pdb
/WoodenPuzzle/WoodenPuzzle/obj/Debug/WoodenPuzzle.exe
/WoodenPuzzle/WoodenPuzzle/obj/Debug/WoodenPuzzle.csprojResolveAssemblyReference.cache
/WoodenPuzzle/WoodenPuzzle/obj/Debug/WoodenPuzzle.csproj.FileListAbsolute.txt
/WoodenPuzzle/WoodenPuzzle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WoodenPuzzle/WoodenPuzzle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WoodenPuzzle/WoodenPuzzle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WoodenPuzzle/WoodenPuzzle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WoodenPuzzle/WoodenPuzzle/obj/Debug/CoreCompileInputs.cache
